body {
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    background-image: url(https://media.tenor.com/zmzZ__RhM4UAAAAC/dragon-ball-z-goku.gif); /* Remplacez 'votre-gif.gif' par le chemin vers votre GIF */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:Verdana, Calibri , sans-serif;
    margin: 0px;
    padding: 0px;
  }

  nav > ul{
  margin: 0px;
  padding: 0px;
}

nav li{
  list-style-type: none;
}

nav > ul > li{
  float: left;
  position: relative;
}

.submenu{
  display: none;
}

.menu-mobile{
      display: none;
}

nav input[type=checkbox]{
  display: none;
}


nav input[type=checkbox]:checked  ~ ul{
  display: block;
}

@media screen and (max-width: 680px){
     .menu-mobile{
      display: block;
      color: #fff;
      background-color: rgba(29, 197, 151, 0.97);
      text-align: center;
      padding: 12px 0;
    }
    nav ul{
      display: none;
    }
}


nav{
  width: 100%;
  background-color: #424558;
}

nav > ul::after{
  content: "";
  display: table;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a{
  padding: 20px 30px;
  color: #FFF;
}

nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}

.submenu li{
  border: 1px solid white;
}

.submenu li a{
  padding: 15px 30px;
  color: #222538;
  width: 270px;
}
/* DEBUT les bande au top du premier bouton */
.menu-html:hover{
  border-top: 5px solid #0070bb;
  background-color: RGBa(000, 112, 192, 0.15); 
}

.menu-js:hover{
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15);
}

.menu-css:hover{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}

.menu-php:hover{
  border-top: 5px solid rgba(255, 255, 255, 0.636);
  background-color: rgb(0,102,204) ;
  
}

.menu-certification:hover{
  border-top: 5px solid rgb(100, 255, 141);
  background-color: RGBa(220, 220, 220, 0.15);
}

.menu-mission:hover{
  border-top: 5px solid rgb(176,196,222);
  background-color: RGBa(220, 220, 220, 0.15);
}
.menu-presentation:hover{
  border-top: 5px solid rgb(128,128,128);
  background-color: RGBa(220, 220, 220, 0.15);
}
/* fin des bandes au top des boutons */
nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}

.submenu li:hover a{
  color: #EEE;
  font-weight: bold;
}

.submenu li a.pres{
  color: grey;
}

.submenu li:hover a.pres{
  color: rgb(30, 28, 28);
}
.menu-html .submenu li:hover{
  background-color: rgb(000, 115, 200);
}

.menu-html .submenu{
  background-color: rgba(103, 160, 240);
}

.menu-js .submenu li:hover{
  background-color: rgb(240, 65, 65);
}

.menu-js .submenu{
  background-color: rgb(255, 0, 0)  ;
}

.menu-bdd .submenu li:hover{
  background-color: rgb(200, 165, 75);
}

.menu-bdd .submenu{
  background-color: rgba(251, 216, 99);
}

.menu-php .submenu li:hover{
  background-color: rgb(0,128,255);
}

.menu-php .submenu{
  background-color: rgb(0,102,204);
}


.menu-mission .submenu li:hover{
  background-color: rgb(106, 195, 251);
}

.menu-mission .submenu{
  background-color: rgb(81, 147, 233);
}

.menu-presentation .submenu li:hover{
  background-color: rgb(215, 214, 214);
}

.menu-presentation .submenu{
  background-color: rgb(128,128,128);
}
